* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111111;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.header {
  height: 104px;
  display: flex;
  align-items: center;
}

.logo {
  width: 180px;
  padding-left: 26px;
}

.nav {
  display: flex;
  margin-left: auto;
}

.nav.on {
}

.nav li a {
  font-size: 22px;
  text-align: center;
  margin-right: 60px;
}
