* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
}

.container {
  width: 1600px;
  margin: 0 auto;
}

/* //////////header////////// */
.header {
  height: 73px;
  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 40px;
}

.header img {
  width: 100px;
  height: 40px;
  margin-right: 40px;
}

/* //////////contents_01////////// */
.contents_01 {
  padding-top: 70px;
  margin: 0 auto;
  display: flex;
}
.contents_01 .photo_01 img {
  display: block;
  width: 228px;
  height: 152px;
  margin-left: 320px;
}
.contents_01 .photo_01 img:first-child {
  margin-bottom: 16px;
}

.contents_01 .photo_02 img {
  width: 229px;
  height: 320px;
  margin-left: 16px;
}

.contents_01 .greeting {
  text-align: center;
  margin-left: 49px;
  margin-right: 363px;
}

.contents_01 .greeting h2 {
  font-size: 28px;
  color: #111;
  margin-top: 25px;
}

.contents_01 .greeting p {
  font-size: 14px;
  color: #989898;
  margin-top: 20px;
  margin-bottom: 43px;
  line-height: 22px;
  letter-spacing: -1.1px;
}

.contents_01 .greeting .button_01,
.contents_01 .greeting .button_02 {
  width: 126px;
  height: 34px;
  background-color: #e7b35a;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.contents_01 .greeting .button_01 {
  margin-right: 20px;
}

/* //////////contents_02////////// */
.contents_02 {
  height: 732px;
  background: url("./images/bg_01.png"), #111111;
  background-position: center;
  background-size: cover;
  margin-top: 70px;
  display: block;
  justify-content: space-between;
  align-items: center;
}

.contents_02 h1 {
  color: #fff;
  text-align: center;
  font-size: 38px;
  padding-top: 60px;
}

.contents_02 .deco {
  width: 132px;
  height: 22px;
  margin: 27px 734px;
}

.contents_02 .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents_02 .items .item {
  width: 302px;
  height: 448px;
  background-color: #fff;
  margin: 0 auto;
  padding: 23px 23px 39px 23px;
}

.contents_02 .items .item img {
  width: 256px;
  height: 160px;
  margin-bottom: 10px;
}

.contents_02 .items .item .p1 {
  font-size: 14px;
  color: #989898;
  line-height: 22px;
  letter-spacing: -1.1px;
}

.contents_02 .items .item .p2 {
  font-size: 14px;
  color: #111111;
  line-height: 23px;
  letter-spacing: -1.1px;
  font-weight: bold;
  margin-top: 20px;
}

.contents_02 .items .item button {
  width: 113px;
  height: 26px;
  background-color: #e7b35a;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}
