* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
h1,
h2,
p {
  font-family: "Noto Sans KR", sans-serif;
}

.header {
  height: 73px;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header .nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .nav a {
  color: #ffffff;
  margin-right: 40px;
}

.header .nav a:nth-child(4) {
  margin-left: 140px;
}

.header .nav a:nth-child(6) {
  margin-right: 15px;
}

.contents_01 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 70px 340px;
}

.photo_01 img {
  display: block;
  margin-bottom: 16px;
  margin-right: 16px;
}

.photo_01 img:last-child {
  margin-bottom: 0;
}

.greetion {
  text-align: center;
  margin-left: 50px;
}

.greetion h2 {
  font-size: 28px;
  color: #111111;
  margin-bottom: 20px;
}

.greetion p {
  font-size: 14px;
  color: #989898;
  line-height: 22px;
  letter-spacing: -0.1px;
  margin-bottom: 43px;
}

.greetion button {
  width: 126px;
  height: 34px;
  background-color: #e7b35a;
  border: none;
  color: #ffffff;
  margin-right: 20px;
}

.greetion button:last-child {
  margin-right: 0;
}
